<!DOCTYPE html>
<a lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="">
                
    <div class="w-1/5 p-5    space-x-10 flex justify-between text-white text-3xl">
        <span class="float-left">
            <img class="w-9/12" src="/images/calendar.png" alt="">
            <a href="/">Today</a>
        </span>
        <span>
            <a href="/work"> Work </a>
        </span>

    </div>

    <div class=" p-2 bg-white w-3/12 rounded-xl m-auto ">

        <% if( locals.date ){ %>
        <h2 class="text-center text-3xl font-bold">  <%= date %></h2>
        <%}else{%>
            <h2  class="text-center text-3xl font-bold" > Work Space </h2>
            <%}%>
    </div>

    <div class=" flex justify-center content-center m-5">
        <div class="rounded-xl bg-white shadow-2xl w-1/2 text-2xl">
            <div class="todo-body">
            <% for (let i =0;i<todo.length;i++) { %>
                <div class="flex flex-row justify-normal p-5" >
                    <div>
                        <input width="20px" type="checkbox" >
                    </div>
                    <div>
                        <p class="ml-8"> <%= todo[i] %></p>
                    </div>
                    <hr>
                </div>
                <%}%>
            </div>
            <% if( locals.date ){ %>
            <form class="p-10 flex justify-center" action="/" method="post">
                <input class="w-full border-4 border-black rounder-lg" type="text" id="task" name="task" >
                <button type="submit"><img class="p-2 w-12"  src="/images/plus.png" alt=""></button>
            </form>
        <%}else{%>

            <form class="p-10 flex justify-center" action="/work" method="post">
                <input class="w-full border-4 border-black rounder-lg" type="text" id="task" name="task" >
                <button type="submit"> <img class="p-2 w-12"  src="/images/plus.png" alt=""></button>
            </form>
            <%}%>
        </div>
    </div>


    
<footer class=" fixed bottom-0 left-0">
    <h2 class="text-center p-5 text-xl font-bold">@2023 Griffin's Todo Application</h2>
</footer>
</body>

</html>