body{
 background-color:  #a683e3;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
}

input[type="text"]{
     border-radius: 10px;
     text-align: center;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}


input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
